
.order {
    width: 1500px;
    height: 1081px;
    background-color: #0F1014;
    padding-left: 148px;
    padding-top: 86px;
}

.left h1 {
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    background: linear-gradient(266.28deg, #FFFFFF 29.05%, rgba(255, 255, 255, 0.42) 114.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.left {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
}

.left p {
    position: absolute;
    margin-left: 244px;
    margin-top: 100px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: #FFFFFF;
}

.right {
    width: 487px;
    height: 211px;
    border-radius: 12px;
    border: 2px solid #3C3D43;
    position: absolute;
    margin-left: 700px;
    margin-top: -210px;
}

.right button {
    width: 131px;
    height: 36px;
    border-radius: 50px;
    color: white;
    background-color: #EC8F32;
    border: none;

}

.right input {
    background-color: transparent;
    outline: none;
    border: 1px solid #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    color: #ADADAD;
    width: 254px;
    height: 36px;
    border-radius: 50px;
    margin-left: 50px;
    margin-top: 116px;
    margin-right: 15px;
}
.right p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    color: #ADADAD;
    margin-left: 120px;
    position: absolute;
    margin-top: 58px;
}

.glav{
    position: relative;
}
