.input-style {
    border-radius: 50px;
    border: 1px;
    opacity: 0px;
    border: 1px solid rgba(255, 255, 255, 1);
    background: none;
    color: aliceblue;
    margin-left: 150px;
    width: 395px;
}

.btn {
    gap: 0px;
    border-radius: 50px;
    opacity: 0px;
    margin-left: -85px;
    width: 395px;
    background: rgba(236, 143, 50, 1);
}