
.flex {
    position: relative;
}

.flex h1 {
    position: absolute;
    top: 38%;
    left: 8%;
    background: linear-gradient(266.28deg, #FFFFFF 29.05%, rgba(255, 255, 255, 0.42) 114.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 52px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    letter-spacing: 0.1rem;

}

.flex p {
    position: absolute;
    top: 60%;
    left: 8%;
    color: white;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.1rem;
    font-family: "Ubuntu", sans-serif;
}

.flex button {
    position: absolute;
    top: 48%;
    padding: 20px;
    border-radius: 50px ;
    background: #EC8F32;
    color: white;
    font-size: 24px;
    border: none;
    right: 5%;
}

/*-------------------*/
.carts{
    display: flex;
}
.cartimg{
    width: 200px;
    height: 200px;
}

.cart {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding-left: 50px;
}
.carty{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.post{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 33px;
}
.absol{
    position: relative;
}
.absol h5 {
    position: absolute;
    top: 65%;
    left: 10%;
    color: white;
    font-size: 24px;
}
.br {
    width: 582px;
    height: 163px;
    border: 2.5px solid #FFFFFF4D;
    border-radius: 25px;
}
.br p{
    color: white;
    font-family: 'Ubuntu',sans-serif;
    font-size: 21px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    position: absolute;
    margin-left: 150px;
    margin-top: 40px;
}
.cartochka{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    position: relative;
    margin-top: 159px;
}
.office{
    display: flex;
    gap: 88px;
    margin-top: 165px;
}
