
.flex {
    position: relative;
}

.flex h1 {
    position: absolute;
    top: 38%;
    left: 8%;
    /*transform: translate(-50%,-50%);*/
    background: linear-gradient(266.28deg, #FFFFFF 29.05%, rgba(255, 255, 255, 0.42) 114.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 52px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    letter-spacing: 0.1rem;

}

.flex p {
    position: absolute;
    top: 60%;
    left: 8%;
    color: white;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.1rem;
    font-family: "Ubuntu", sans-serif;
}

.flex button {
    position: absolute;
    top: 48%;
    padding: 20px;
    border-radius: 50px ;
    background: #EC8F32;
    color: white;
    font-size: 24px;
    border: none;
    right: 5%;
}

/*-------------------*/
.carts{
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    justify-content: center;
}