*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul ,li{
  list-style: none;
}

.container{
  width: 1400px;
  margin:  auto;
  padding-left: 50px;
}
.bg{
  background: #0F1014;
  padding-left: -20px ;
}
.bt{
  margin-top: 60px;
}